<footer class="footer-zine">
  <div class="container">
    <div class="row g-4">
      <div class="col-12 col-md-4">
        <h5>RetroPlay</h5>
        <p class="mb-0">
          Tienda y taller especializado en videojuegos y articulos retro
          de los 80 y 90. Santiago, Chile.
        </p>
      </div>
      <div class="col-6 col-md-4">
        <h5>Navegacion</h5>
        <ul class="list-unstyled m-0">
          <li><a routerLink="/catalogo">Catalogo</a></li>
          <li><a routerLink="/servicios">Servicios</a></li>
          <li><a routerLink="/login">Ingresar</a></li>
          <li><a routerLink="/registro">Registrarme</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-4">
        <h5>Contacto</h5>
        <p class="mb-1">hola&#64;retroplay.cl</p>
        <p class="mb-0">+56 9 1234 5678</p>
      </div>
    </div>
    <hr class="border-light my-4">
    <p class="text-center mb-0 small">
      &copy; 2026 RetroPlay. Tienda especializada en videojuegos y articulos retro de los 80s y 90s.
    </p>
  </div>
</footer>
